
			
			html {
				background: #1E1F20 url("img/bg_texture_devsite.png") 0 0;
				color: #A6A6A6;
			}
            .subtitles {
				font-family: 'Parisienne', cursive;
				font-family: 'Neucha', cursive;
				font-family: 'Loved by the King', cursive;
                font-family: BodoniMT-Italic, sans-serif;
                font-weight: normal;
                width: 60%;
                height: 50px;	/* 250px */
                text-align: center;
				font-size: 18px;
				color: #b4b4b4;
				text-align: left;
				margin-left: 20%;
				margin-top: 30px;
				/*clear: both;*/ 
            }
            .subtitles i b {
				font-weight: bold;
				color: #fff;
			}
			.subs_selector {
				width: 70%;
				display: block; 
				float: left;
				margin-left: 20%;
				margin-right: 20%;
				clear: both;
			}
			object {
				display: block; 
				float: left;
				margin-left: 20%;
				clear: both;
			}
			.vidlay {
				width: 200px; height: 50px; float: left;
				margin: 0 30px 30px 0;
				display: inline;
			}
			.vidlay p {color: #819399; font-size: 12px;} /*a6*/
			#subtitles_24819045_ES02 {background-color: #23292B; border-color: #181C1D; color: #819399;}	/*'ES02','CAT', 'BA','EN','DE','FR','RU','IT');*/
			#subtitles_24819045_CAT  {background-color: #29232B; border-color: #1C181D; color: #938199;}
			#subtitles_24819045_BA   {background-color: #2A2B23; border-color: #1C1D18; color: #969981;}
			#subtitles_24819045_EN   {background-color: #354140!important; border-color: #181D1C; #819996!important;}
			#subtitles_24819045_DE   {background-color: #384135!important; border-color: #191d18; color: #879981!important;}
			#subtitles_24819045_FR   {background-color: #413D35!important; border-color: #1D1B18;; color: #999081!important;}
			#subtitles_24819045_RU   {background-color: #23292B; border-color: #181C1D; color: #819399;}
			#subtitles_24819045_IT   {background-color: #23292B; border-color: #181C1D; color: #819399;}
			
			.checks {margin-right: 20px; float: left;}
			