/* login css */
textarea#responseText {
height: 100px;
}
.wrapper ul {
    list-style: none;
}

/* GLOBALS */

.login-container *,
.login-container *:after,
.login-container *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.login-container  ::selection {
    background: transparent; 
}

.login-container ::-moz-selection {
    background: transparent; 
}

.login-container .wrapper-demo {
    margin: 30px 40px 0 0;
    *zoom: 1;
    font-weight: 400;
	display: inline-block;
	float: right;
}

.login-container .wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}





/*#login {*/
body {
	font-family: 'Lato', 'Arial', sans-serif;
	/*background: #ddd url(../imatges/bg2.jpg) 0 0 repeat;*/
	/*background: #ddd url(../imatges/asfalt.png) 0 0 repeat;*/
	/*background: #ddd url(../imatges/blackorchid.png) 0 0 repeat;*/
	/*background: #ddd url(../imatges/dark_wall.png) 0 0 repeat;*/
	/*background: #ddd url(../imatges/debut_dark.png) 0 0 repeat;*/
	background: #ddd url(../imatges/grey_wash_wall.png) 0 0 repeat;
	/*background: #ddd url(../imatges/low_contrast_linen.png) 0 0 repeat;*/
	
	/*background: #ddd url(../imatges/stone04.jpg) 0 0 repeat;*/
	/*background: #ddd url(../imatges/stone06-3.jpg) 0 0 repeat;*/
	/*background: #ddd url(../imatges/bg08-3.jpg) 0 0 repeat;*/
	/*background: #ddd url(../imatges/bg08-2.jpg) 0 0 repeat;*/
	/*background: #ddd url(../imatges/clouds-4.jpg) 0 0 repeat;*/
	font-weight: 300;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
/*	overflow-y: scroll;
	overflow-x: hidden;*/
}

.login-container a {
	color: #555;
	text-decoration: none;
}

.login-container .login-container {
	width: 100%;
	position: relative;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.login-container .main {
	width: 90%;
	margin: 0 auto;
	position: relative;
}
@import url('font-awesome.css');








.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 200px;
    margin: 0 10px;
    padding: 12px 15px;
	display: inline-block;

    /* Styles */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}
.wrapper-dropdown-5.nodrop:after { /* Little arrow */
    content: none;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: none;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}
.wrapper-dropdown-5.nodrop.active:after {
    border-color: none;
}



.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

/* No CSS3 support: none */

/* login layout */
#login-wrapper {margin: 10px auto; padding: 10px;height: 250px; border: #E1E1E1 1px dashed;}
.wrapper {width: 500px; float: left; }
/* facebook login */
#facebook-login {width: 300px; float: left; clear: none; text-align: center;}
#fb-root {margin: 25px auto; text-align: center; }

#login .dropdown {z-index: 10;}