p.slider {
/*	position: absolute;
	top: 110px;*/
	font-size: 8px;
	/*color: #ccc;*/
	font-weight: light;
}
.slider-range {
/*	position: absolute;
	top: 120px;*/
}

#area_comentarios .ui-slider-horizontal {
height: .1em;
width: 80%;
margin: 5px 10%;
text-align: center;
}
#area_comentarios .ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: .3em;
height: .8em;
cursor: default;
}
.marge_temps {
font-family: Lato, Arial, sans-serif;
font-size: 8px;
/*color: #ccc;*/
}
.marge_temps input {
font-size: 10px;
}


.slider-range .ui-slider-handle.ui-state-default.ui-corner-all {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.slider-range .ui-slider-handle.ui-state-default.ui-corner-all:nth-child(2)  {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}